<a href="https://colab.research.google.com/github/Upasna22/AdapterViews/blob/master/POC_classifier.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
import numpy as np

In [0]:
train_df = pd.read_csv('POC-MCCdata.csv')

In [78]:
train_df.head()

   TableTypeId IndustryTemplateCode  ... FileSource CountryId
0            1                    N  ...          2       CAN
1            1                    N  ...          2       CAN
2            1                    N  ...          2       CAN
3            1                    N  ...          2       CAN
4            1                    N  ...          2       CAN

[5 rows x 15 columns]

In [79]:
train_df['MsId'].describe()

count         237911
unique           240
top       V2ID000003
freq           47051
Name: MsId, dtype: object

Label encoding

In [0]:
from sklearn.preprocessing import LabelEncoder
def LabelEncoding(X):
  labelEncodedTrain = pd.DataFrame()
  LE = LabelEncoder()
  for col in X.columns:
    if(X[col].dtype == 'object'):
      labelEncodedTrain[col] = LE.fit_transform(X[col])
    else:
      labelEncodedTrain[col] = X[col]
  print('Label Encoded Train looks like \n{}'.format(labelEncodedTrain.head(15)))
  print(labelEncodedTrain.shape)

In [0]:
train_df = train_df.drop(['EffectiveDate', 'CreateDate', 'UpdateDate'], axis=1)

   TableTypeId IndustryTemplateCode    FileId  ... AMItemId FileSource CountryId
0            1                    N  31953224  ...  6643918          2       CAN
1            1                    N  31953224  ...  6643919          2       CAN
2            1                    N  31953224  ...  6643920          2       CAN
3            1                    N  31953224  ...  6643921          2       CAN
4            1                    N  31953224  ...  6643922          2       CAN

[5 rows x 12 columns]

In [86]:
category_train_df = train_df.select_dtypes(include=['object']).copy()
print("cateegorical data is")
category_train_df.head()

cateegorical data is

  IndustryTemplateCode   CompanyId  ...   IndustryName CountryId
0                    N  0C0000099P  ...  Oil & Gas E&P       CAN
1                    N  0C0000099P  ...  Oil & Gas E&P       CAN
2                    N  0C0000099P  ...  Oil & Gas E&P       CAN
3                    N  0C0000099P  ...  Oil & Gas E&P       CAN
4                    N  0C0000099P  ...  Oil & Gas E&P       CAN

[5 rows x 8 columns]

In [87]:
total_missing_values = train_df.isnull().sum().sort_values(ascending=False)
percentage_missing_values = (train_df.isnull().sum() / train_df.isnull().count()).sort_values(ascending =False)
missing_data = pd.concat([total_missing_values, percentage_missing_values], keys = ['Total', 'Percentage'], axis=1)
missing_data.head(20)

                      Total  Percentage
MS ReportedName          27    0.000113
Company ReportedName     13    0.000055
MsId                     12    0.000050
CountryId                 0    0.000000
FileSource                0    0.000000
AMItemId                  0    0.000000
IndustryName              0    0.000000
SectorName                0    0.000000
CompanyId                 0    0.000000
FileId                    0    0.000000
IndustryTemplateCode      0    0.000000
TableTypeId               0    0.000000

In [0]:
#One Hot Encoding : Takes a categorical value and converts it to a binary vector of size n(no:of values in category)

from sklearn.preprocessing import OneHotEncoder

def oneHotEncoding(X):
  oneHotencoder = OneHotEncoder(handle_unknown='ignore')
  oneHotencoder.fit(X)
  oneHotEncodedTrain = oneHotencoder.transform(X)
  return oneHotEncodedTrain
  print('One Hot Encoded train data looks like:\n {}'.format(oneHotEncodedTrain))
  print('One Hot Endcoded data has {} rows and {} columns'.format(oneHotEncodedTrain.shape[0], oneHotEncodedTrain.shape[1]))

In [0]:
columnsToBeDropped = missing_data[missing_data['Total'] > 1].index

In [89]:
print(columnsToBeDropped)

Index(['MS ReportedName', 'Company ReportedName', 'MsId'], dtype='object')

In [0]:
nullObservation = train_df.loc[train_df['MS ReportedName'].isnull()].index

In [91]:
print(nullObservation)

Int64Index([  5353,  27036,  45583,  55290,  77545,  87107,  87108,  91530,
             91905, 110792, 125341, 125370, 144205, 170807, 171769, 179017,
            181165, 184857, 194213, 201003, 202494, 204199, 204495, 213756,
            220597, 222478, 231866],
           dtype='int64')

In [0]:
for obsv in nullObservation:
  train_df = train_df.drop(obsv)

In [93]:
print(train_df.isnull().sum().sort_values(ascending=False))

Company ReportedName    9
MsId                    9
CountryId               0
FileSource              0
AMItemId                0
IndustryName            0
SectorName              0
MS ReportedName         0
CompanyId               0
FileId                  0
IndustryTemplateCode    0
TableTypeId             0
dtype: int64

In [0]:
from sklearn.preprocessing import LabelEncoder
category_train_df.astype('category').dtypes
cat_labeled = category_train_df.copy()
LE = LabelEncoder()
cat_labeled['IndustryTemplateCode'] =  LE.fit_transform(category_train_df['IndustryTemplateCode'])
cat_labeled['CompanyId'] =  LE.fit_transform(category_train_df['CompanyId'])
cat_labeled['MsId'] =  LE.fit_transform(category_train_df['MsId'])
cat_labeled['MS ReportedName'] =  LE.fit_transform(category_train_df['MS ReportedName'])
#cat_copy['Company ReportedName'] =  LE.fit_transform(category_train_df['Company ReportedName'])
#cat_copy['SectorName'] =  LE.fit_transform(category_train_df['SectorName'])
#cat_copy['IndustryName'] =  LE.fit_transform(category_train_df['IndustryName'])
#cat_copy['CountryId'] =  LE.fit_transform(category_train_df['CountryId'])
cat_labeled.head()

In [75]:
oneHotEncodingTrain = pd.DataFrame()
oneHotEncodingTrain = oneHotEncoding(train_df)
print(oneHotEncodingTrain)

ValueError: ignored

In [94]:
category_train_df = train_df.select_dtypes(include=['object']).copy()
print("cateegorical data is")
category_train_df.head()

cateegorical data is

  IndustryTemplateCode   CompanyId  ...   IndustryName CountryId
0                    N  0C0000099P  ...  Oil & Gas E&P       CAN
1                    N  0C0000099P  ...  Oil & Gas E&P       CAN
2                    N  0C0000099P  ...  Oil & Gas E&P       CAN
3                    N  0C0000099P  ...  Oil & Gas E&P       CAN
4                    N  0C0000099P  ...  Oil & Gas E&P       CAN

[5 rows x 8 columns]